<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
  <a class="navbar-brand js-scroll-trigger" href="#page-top">
    <span class="d-block d-lg-none">Hoja de vida</span>
    <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="assets/img/profile.jpg" alt="..." /></span>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon"></span></button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav">
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Inicio</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educación</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Intereses</a></li>
      <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Cerfificaciones</a></li>
    </ul>
  </div>
</nav>
<!-- Page Content-->
<div class="container-fluid p-0">
  <!-- About-->
  <section class="resume-section" id="about">
    <div class="resume-section-content">
      <h1 class="mb-0">
        Nayelis carolina
        <span class="text-primary">Martinez Ospino</span>
      </h1>
      <div class="subheading mb-5">
        Francisco Paula calle 18A2 N 34B 1-13 Telefono (311) 5888152 ·
        <a href="mailto:nameemail.com">nayeospino76gmail.com</a>
      </div>
      <p class="lead mb-5">Estudiante de Análisis y Desarrollo de Software en el SENA con experiencia en documentación
        técnica, análisis de sistemas, y gestión de bases de datos. Competente en el uso
        de herramientas informáticas para desarrollar soluciones eficientes y precisas.</p>
      <div class="social-icons">
        <a class="social-icon" href="nayeliscarol11@gmail.com"><i class="fas fa-envelope"></i></a>
        <a class="social-icon" href="https://github.com/nayelismartinezospino"><i class="fab fa-github"></i></a>
        <a class="social-icon" href="https://www.instagram.com/morenithamrtz/?igsh=dmZxeGE1NmQ0NmJ6"><i
            class="fab fa-instagram"></i></a>
        <a class="social-icon" href="https://www.facebook.com/alisbeh.ospinoalfaro"><i
            class="fab fa-facebook-f"></i></a>
      </div>

    </div>
  </section>
  <hr class="m-0" />
  <!-- Education-->
  <section class="resume-section" id="education">
    <div class="resume-section-content">
      <h2 class="mb-5">Educación</h2>
      <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
        <div class="flex-grow-1">
          <h3 class="mb-0">Institución Educativa Valentin Manjarrez</h3>
          <div class="subheading mb-3">Bachillerato</div>
          <div>La Loma (Cesar)</div>
          <p>Año 2021</p>
        </div>
      </div>

      <div class="d-flex flex-column flex-md-row justify-content-between">
        <div class="flex-grow-1">
          <h3 class="mb-0">Cesar Abelardo Barrera Lozano</h3>
          <div class="subheading mb-3">Rector</div>
          <p>I.E Valentin Manjarrez</p>
        </div>
      </div>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Skills-->
  <section class="resume-section" id="skills">
    <div class="resume-section-content">
      <h2 class="mb-5">Habilidades</h2>
    
      <div class="subheading mb-3">Habilidades Clave</div>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Manejo de Bases de Datos: Experiencia en MySQL y Microsoft Access.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Herramientas Ofimáticas: Conocimientos básicos en Microsoft Word y Excel.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Desarrollo de Software: Familiaridad con Python, JavaScript, HTML, CSS y React.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Desarrollo Web: Creación de interfaces con React y uso de herramientas como Vite y npm.
        </li>
        <div class="subheading mb-2">Habilidades Clave</div>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Análisis y Resolución de Problemas: Capacidad para resolver problemas complejos mediante análisis de datos.
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Documentación Técnica: Habilidad en la creación de documentación clara y precisa.
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-check"></i></span>
          Trabajo en Equipo: Efectiva colaboración en proyectos con equipos multidisciplinarios.
        </li>
      </ul>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Interests-->
  <section class="resume-section" id="interests">
    <div class="resume-section-content">
      <h2 class="mb-5">Intereses</h2>
      <p>Formación y Desarrollo Profesional:
        Actualmente estoy cursando Análisis y Desarrollo de Software en el SENA, complementando mis estudios con diversos cursos básicos autodidactas
         en casa. Busco fortalecer mis conocimientos en tecnologías y metodologías actuales para el desarrollo de soluciones tecnológicas.</p>
      <p class="mb-0">Intereses y Actividades:
        En mi tiempo libre, disfruto de ver películas y series de televisión, especialmente en géneros como acción, ciencia ficción, terror y fantasía. 
        Estas actividades alimentan mi creatividad y me inspiran a aplicar enfoques innovadores en el desarrollo de software.</p>
    </div>
  </section>
  <hr class="m-0" />
  <!-- Awards-->
  <section class="resume-section" id="awards">
    <div class="resume-section-content">
      <h2 class="mb-5">Certificación</h2>
      <ul class="fa-ul mb-0">
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          BASES DE DATOS GENERALIDADES Y SISTEMAS DE GESTION
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          HIGIENE Y MANIPULACION DE ALIMENTOS
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          EMPRENDIMIENTO DIGITAL
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          WORD BASICO
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          MANEJO BASICO DE LA HERRAMIENTA DE HOJAS DE CALCULO EXCEL
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          MANEJO INTERMEDIO DE LA HERRAMIENTA DE HOJAS DE CALCULO EXCEL
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          ELABORACION DE DOCUMENTOS ORGANIZACIONALES
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          CREACIÓN DE BASES DE DATOS CON MICROSOFT ACCESS
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          INFORMATICA: MICROSOFT WORD, EXCEL E INTERNET
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          MANEJO DE NUEVAS TECNOLOGÍAS TICS
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          DESARROLLO DE APLICACIONES PARA DISPOSITIVOS MOVILES CON PLATAFORMA ANDROID
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          CIUDADANIA DIGITAL PARA LA PAZ
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          CONSTRUCCION DE BASES DE DATOS CON MYSQL
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          FUNDAMENTOS DE PROGRAMACION Y ADMINISTRACION DE BASES DE DATOS ORACLE
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          FUNDAMENTOS BASICOS EN SALUD OCUPACIONAL
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          DESARROLLO DE APLICACIONES WEB DE UNA SOLA PAGINA
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          DESARROLLO DE HABILIDADES DIGITALES PARA EXPERIENCIAS SEGURAS EN LINEA
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          ENGLISH DOES WORK - LEVEL 1
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          DESARROLLO DE HABILIDADES DIGITALES PARA EXPERIENCIAS SEGURAS EN LINEA
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-certificate text-warning"></i></span>
          HERRAMIENTA DIDACTIVA INTERACTIVA PARA LA ELABORACIÓN DE PLANES DE PRODUCCIÓN EN CULTIVO DE MAIZ
        </li>
      </ul>
    </div>
</section>

</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>

<router-outlet />